<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaosquark.backend.repository.UserRepository">
    <resultMap id="baseResultMap" type="user">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="email" property=""/>
        <result column="realname" property="realname"/>
        <result column="nickname" property="nickname"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="uniform_number" property="uniformNumber"/>
        <result column="role_ids" property="roleIds"/>
        <result column="head_protrait_url" property="headProtraitUrl"/>
        <result column="province_code" property="provinceCode"/>
        <result column="city_code" property="cityCode"/>
        <result column="distinct_code" property="distinctCode"/>
        <result column="address" property="address"/>
        <result column="player_position" property="playerPosition"/>
        <result column="honor_ids" property="honorIds"/>
        <result column="player_status" property="playerStatus"/>
        <result column="staff_status" property="staffStatus"/>
        <result column="actived" property="actived"/>
        <result column="active_code" property="activeCode"/>
        <result column="note" property="note"/>
        <result column="deleted" property="deleted"/>
        <result column="create_uid" property="createUid"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_uid" property="modifyUid"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
    <select id="getUserByUsername" parameterType="java.lang.String" resultMap="baseResultMap">
        SELECT * FROM
          tb_user
        WHERE
          username = <![CDATA[#{value}]]>
    </select>
</mapper>